.blogHead {
    &__author {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background: linear-gradient(136.64deg, #bf7dff 0%, #4754ff 80.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__intro {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__date {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
}

.blogBody {
    &__content {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.9;
    }
}

.blogFooter {
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    &__title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}
