$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

.mine {
    .profile {
        background: #1c1b2e;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 18px;
            .profileIcon {
                width: 54px;
                height: 54px;
                margin-top: 0px;
            }
            .info {
                display: flex;
                flex-direction: column;
                .name {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #ffffff;
                    margin-left: 10px;
                }
                .detailed {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    .section {
                        display: flex;
                        flex-direction: row;
                        .widgetLetter {
                            font-family: "Poppins";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: #ffffff;
                            mix-blend-mode: normal;
                            opacity: 0.8;
                            margin-right: 20px;
                            margin-left: 20px;
                            @media screen and (max-width: 1280px) {
                                margin-right: 8px;
                                margin-left: 8px;
                            }
                            @media screen and (max-width: 1050px) {
                                margin-right: 4px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
        .center {
            height: 58px;
            background: #141422;
            mix-blend-mode: normal;
            opacity: 0.7;
            border-radius: 1.4902px;
            margin: 12px;
            align-items: center;
            position: relative;
            .line1 {
                position: absolute;
                left: 105px;
                @media screen and (max-width: 1050px) {
                    left: 70px;
                }
            }
            .line2 {
                position: absolute;
                left: 210px;
                @media screen and (max-width: 1450px) {
                    left: 190px;
                }
                @media screen and (max-width: 1050px) {
                    left: 130px;
                }
            }
            .section {
                display: flex;
                flex-direction: column;
                .number {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #f2f2f2;
                }
                .title {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 15px;
                    text-align: center;
                    color: #ffffff;
                    mix-blend-mode: normal;
                    opacity: 0.6;
                }
            }
        }
    }
    .wallet {
        height: 122px;
        margin-top: 20px;
        background: #1c1b2e;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-left: auto !important;
        margin-right: auto !important;
        .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            margin-top: 20px;
            margin-left: 12px;
        }
    }
}

.blog {
    .searchBox {
        // width: 640px;
        height: 64px;
        background: #1c1b2e;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $sm) {
            display: none;
        }
        .profileIcon {
            width: 36px;
            height: 36px;
            // margin-left: 20px;
            margin-right: 8px;
        }
        .mindArea {
            box-sizing: border-box;
            width: 204px;
            height: 36px;
            background: linear-gradient(
                #45ffed 20%,
                #8ad6ff 40%,
                #45ffed 60%,
                #7ecdf8 80%,
                #b7a5e3 100%
            );
            border-radius: 18px 18px 18px 1px;
            padding: 1px;
            margin-right: 20px;
            @media screen and (max-width: 1050px) {
                width: 140px;
                margin-right: 10px;
            }
            &__inner {
                background-color: #252436;
                width: 100%;
                height: 100%;
                border-radius: 18px 18px 18px 1px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .inputField {
                background: none;
                width: 160px;
                outline: none;
                color: white;
                @media screen and (max-width: 1050px) {
                    width: 135px;
                }
            }
            ::placeholder {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.6;
            }
        }
        &__button {
            background: #29283a;
            border-radius: 18px;
            width: 156px;
            height: 36px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
            mix-blend-mode: normal;
            opacity: 0.6;
            @media screen and (max-width: 1050px) {
                width: 130px;
            }
        }
    }
    .searchBox__mobile {
        display: none;
        background: #1c1b2e;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        @media screen and (max-width: $sm) {
            display: block;
        }
        .mindArea {
            box-sizing: border-box;
            width: 204px;
            height: 36px;
            background: linear-gradient(
                #45ffed 20%,
                #8ad6ff 40%,
                #45ffed 60%,
                #7ecdf8 80%,
                #b7a5e3 100%
            );
            border-radius: 18px 18px 18px 1px;
            padding: 1px;
            &__inner {
                background-color: #252436;
                width: 100%;
                height: 100%;
                border-radius: 18px 18px 18px 1px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .inputField {
                background: none;
                width: 160px;
                outline: none;
                color: white;
            }
            ::placeholder {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.6;
            }
        }
        ._button {
            background: #29283a;
            border-radius: 18px;
            width: 204px;
            height: 36px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
            mix-blend-mode: normal;
            opacity: 0.6;
        }
    }
    &__tab {
        background: #1c1b2e;
        border-radius: 2px;
    }
}

.suggested {
    &__title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        @media screen and (max-width: 1050px) {
            font-size: 16px;
        }
    }
}

.blogHead {
    &__author {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background: linear-gradient(136.64deg, #bf7dff 0%, #4754ff 80.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__intro {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__date {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
}

.blogBody {
    &__content {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.9;
    }
}

.blogFooter {
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    &__title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

.connection {
    background: linear-gradient(
        to bottom left,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 50%
    );
    backdrop-filter: blur(7.87908px);
    border-radius: 1.15942px;
    &__area {
        background: #151521;
        margin: 1px;
    }
    &__name {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #ffffff;
    }
    &__job {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}

.loadButton {
    background: #0c0e11;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 96px;
    padding-right: 96px;
    margin-top: 10px;
    @media screen and (max-width: 1280px) {
        padding-left: 70px;
        padding-right: 70px;
    }
    @media screen and (max-width: 1050px) {
        padding-left: 60px;
        padding-right: 60px;
    }
}
